<div class="container">
	<hr>
	<button  type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal" ng-click="goto_new_employee_page()">Add New</button>

	<h2>All users</h2>
	<span class="clerfix"></span>
	<hr>
	<table class="table table-striped">
		
			<tr>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Email</th>
				<th>Dob</th>
				<th>options</th>
				<th>options</th>
			</tr>
			<tr ng-repeat = "emp in employeeslist">  
				<td>{{ emp.firstname }}</td>  
				<td>{{ emp.lastname }}</td>  
				<td>{{ emp.email }}</td>  
				<td>{{ emp.dob | date :  "dd/MM/y" }}</td>   

				<td><a ui-sref="employees_edit({id: $index})">Edit</a></td> 
				<td><a ng-click="deleteEmployee($index)">Delete</a></td> 
			</tr>  
			</tr>  
		
	</table>
	<br>

	
</div>